/*USE Padding instead of MARGIN
  CUS body is red and will show red in page
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--variable-collection-secondary);
}


.shoes-gallery {
  width: 100%;
}
.review-gallery {
  width: 80%;
}
.rate-us {
  display: flex;
  margin-top: 45px;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 6px;
  position: relative;
}
.RATE{
  color: white; 
  font-size: 48px; 
  font-family: Inter; 
  font-style: italic; 
  font-weight: 800; 
  word-wrap: break-word"
}
.US-ON{
  color: white; 
  font-size: 36px; 
  font-family: Inter; 
  font-style: italic; 
  font-weight: 400; 
  word-wrap: break-word
}

.header-caption {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 6px;
  position: relative;
}

.header-caption .OURGALLERY {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  width: 100%;
  line-height: normal;
}

.header-caption .text-wrapper {
  font-family: "Inter-ExtraBold Italic", Helvetica;
  font-weight: 800;
  font-style: italic;
  margin-right: -10px;
}
.header-caption .span {
  font-family: "Inter-Italic", Helvetica;
  font-style: italic;
  font-size: 36px;
}

.header-caption .description {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.middle-frame {
  display: flex;
  padding-top: 45px;
  margin: auto;
  width: 1152px;
  align-items: flex-start;
  align-self: center;
  position: relative;
}
/*Shoes section*/
.review-section {
  max-width: 85%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}


.reviews-column{
  flex: 1; /* Each column takes equal space */
  height: 600px; /* Set a fixed height for the column */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 0px;
  padding-top:0;
  padding-bottom: 0;
  margin: 0; 
}

.reviews-column img {
  width: 100%; /* Make images responsive */
  margin-bottom: 10px; /* Space between images */
  border-radius: 5px;
  
}
.reviews-gallery {
  columns: 3 200px;
  gap: 10px;
}
/*Scrollbar*/

.reviews-column::-webkit-scrollbar{
  display: none;
}

/*to crop the last row on the table once showed more*/

.overflowing{
  overflow: hidden;
  height: 125vw;
}

.shoes-section {
  max-width: 85%;
  margin: 20px auto;
  display: flex;
  justify-content: center;

}

.shoes-gallery {
  columns: 4 200px;
  gap: 10px;
  
}

.shoes-gallery img {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}
/*Show-more*/
.show-more {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  padding-top: 20px;
  flex: 0 0 auto;
}

.show-more:hover{
  opacity: 0.70;

}

.show-more .button {
  all: unset;
  box-sizing: center;
  display: flex;
  width: 184px;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  background-color: var(--variable-collection-primary);
  font-weight: bold;
}


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*PS: magkaiba yunng margin per color sa sections 
  Yellow Height is big to contain columns of reviews
  todo: change vh -> px
*/

/*overflow class to be used with javascript*/
.overflow{
  height: 1000px;
  overflow: clip;
  mask-image:linear-gradient(black 90%, transparent);

}

.yellow {
  background-color: var(--variable-collection-primary);
  
}
.white {

  padding-top: 2.5%;
  background-color: var(--variable-collection-light);
  padding-bottom: 2.5%;

}
.red {
  padding-top: 2.5%;
  padding-bottom: 5%;
  background-color: var(--variable-collection-secondary);

}
.social-media-container {
  height: 60px;
  margin-top: 4%;
  offset: 100;
  width: 100%;
  position: relative;
  text-align: center;

}
.btn{
  transform: translateY(-30px);

}

.btn:hover{
  transform: translateY(-30px) scale(1.05);
}
/*ENTIRE BODY is RED cus layout on rateus will be too big*/
/* Mobile Styles */
@media (max-width: 425.98px) {
  body {
    background-color: var(--variable-collection-secondary);
  }
  .OURGALLERY img{
    width: 80%;
  }
  .rate-us img{
    width: 40%;

  }
  .social-media-container {
    background-color: var(--variable-collection-secondary);
  }
  .btn{
    transform: scale(0.9);
  }
  .reviews-column{
    margin: 0 ;
  }
  #rate-us-section{
    height: 300vw;  
  }
  .overflowing{
    height: 2050vw;
  }
  #rate-us-section{
    height: 150vw;
  }
  .red{
    height: 45vw;
    margin-bottom: 80vw;
  }
  
}

/* Tablet Styles */
@media (min-width: 426px) and (max-width: 768.98px) {
  body {
    background-color: var(--variable-collection-secondary);
    
  }
  .OURGALLERY img{
    width: 80%;
  }
  .rate-us img{
    width: 30%;
  }
  .social-media-container {
    background-color: var(--variable-collection-secondary);
  }
  .btn{
    padding: 0;
    padding-top: 25px;
  }
  .overflowing{
    height: 500vw;
  }
  .shoes-gallery{
    columns: 2 150px;
  }
  .yellow{
    height: 100vw;
  }
  .red{
    height: 100vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .btn{
    padding-top: 5vw;
}
}


/* Laptop Styles */
@media (min-width: 769px) and (max-width: 1024.98px) {
  body {
    background-color: var(--variable-collection-secondary);
  }
  /*BINAGO ko lng container to RED*/
  .social-media-container {
    background-color: var(--variable-collection-secondary);
  }
  .btn{
    padding: 10vw;
    padding-bottom: 0px;
    padding-top: 25px;
  }
  .overflowing{
    height: 175vw;
  }
  .shoes-gallery{
    columns: 3 200px;
  }
  .yellow{
    height: 85vw;
  }
  .red{
    height: 55vw;
    margin: 0;
    margin-top: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1192.98px) {
  #yellow-line{
    background-color: var(--variable-collection-secondary);
  }

}

/*yellow naman body sa long for maayos na section sa yellow*/
/* Desktop Styles */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: var(--variable-collection-secondary);
  }
  .red{
    height: 30vw;
    margin: 0;
    padding-top: 0;
  }
}

/*READ: dont increase the width after 1440; the yellow container will enlarge too much*/