* {
  margin: 0;
}

:root {
  --card-shadowx: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  --variable-collection-dark: var(--color-palette-dark);
  --variable-collection-white: var(--color-palette-white);
  --variable-collection-light: rgba(238, 238, 238, 1);
  --variable-collection-primary: rgba(247, 230, 0, 1);
  --variable-collection-secondary: rgba(215, 38, 56, 1);
  --variable-collection-info: rgba(128, 222, 234, 1);
  --variable-collection-accent1: rgba(255, 152, 0, 1);
  --variable-collection-accent2: rgba(156, 39, 176, 1);
  --variable-collection-accent3: rgba(69, 90, 100, 1);
  --variable-collection-success: rgba(71, 188, 0, 1);
  --variable-collection-warning: rgba(255, 200, 93, 1);
  --variable-collection-danger: rgba(253, 0, 91, 1);
  --variable-collection-gray-50: rgba(249, 250, 251, 1);
  --variable-collection-gray-100: rgba(243, 244, 246, 1);
  --variable-collection-gray-200: rgba(229, 231, 235, 1);
  --variable-collection-gray-300: rgba(209, 213, 219, 1);
  --variable-collection-gray-400: rgba(156, 163, 175, 1);
  --variable-collection-gray-500: rgba(107, 114, 128, 1);
  --variable-collection-gray-600: rgba(75, 85, 99, 1);
  --variable-collection-gray-700: rgba(55, 65, 81, 1);
  --variable-collection-gray-800: rgba(31, 41, 55, 1);
  --variable-collection-gray-900: rgba(17, 24, 39, 1);
  --color-palette-white: rgba(255, 255, 255, 1);
  --color-palette-dark: rgba(31, 31, 31, 1);
}

body {
  background-color: var(--variable-collection-light);
}

.debug {
  border: 1px solid yellow;
}

.debug2 {
  border: 1px solid violet;
}

.NAVBAR {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: auto;
  padding: 18px 36px;
  position: relative;
  background-color: var(--variable-collection-white);
}

.NAVBAR .left {
  display: flex;
  flex-direction: column;
  width: 323px;
  align-items: flex-start;
  position: relative;
}

.NAVBAR .center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.NAVBAR .navbar {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.NAVBAR .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.NAVBAR .right {
  display: flex;
  width: 312px;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
}

.NAVBAR .search-box {
  display: flex;
  width: 195px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  position: relative;
  background-color: var(--variable-collection-light);
  border-radius: 40px;
  border: 1px solid;
  border-color: var(--variable-collection-dark);
}

.NAVBAR .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-accent3);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.NAVBAR .icon-shopping-bag,
.NAVBAR .icon-user-profile {
  position: relative;
  width: 24px;
  height: 24px;
}
