@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
}

:root {
  --card-shadowx: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  --variable-collection-dark: var(--color-palette-dark);
  --variable-collection-white: var(--color-palette-white);
  --variable-collection-light: rgba(238, 238, 238, 1);
  --variable-collection-primary: rgba(247, 230, 0, 1);
  --variable-collection-secondary: rgba(215, 38, 56, 1);
  --variable-collection-info: rgba(128, 222, 234, 1);
  --variable-collection-accent1: rgba(255, 152, 0, 1);
  --variable-collection-accent2: rgba(156, 39, 176, 1);
  --variable-collection-accent3: rgba(69, 90, 100, 1);
  --variable-collection-success: rgba(71, 188, 0, 1);
  --variable-collection-warning: rgba(255, 200, 93, 1);
  --variable-collection-danger: rgba(253, 0, 91, 1);
  --variable-collection-gray-50: rgba(249, 250, 251, 1);
  --variable-collection-gray-100: rgba(243, 244, 246, 1);
  --variable-collection-gray-200: rgba(229, 231, 235, 1);
  --variable-collection-gray-300: rgba(209, 213, 219, 1);
  --variable-collection-gray-400: rgba(156, 163, 175, 1);
  --variable-collection-gray-500: rgba(107, 114, 128, 1);
  --variable-collection-gray-600: rgba(75, 85, 99, 1);
  --variable-collection-gray-700: rgba(55, 65, 81, 1);
  --variable-collection-gray-800: rgba(31, 41, 55, 1);
  --variable-collection-gray-900: rgba(17, 24, 39, 1);
  --color-palette-white: rgba(255, 255, 255, 1);
  --color-palette-dark: rgba(31, 31, 31, 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: var(--variable-collection-light);
}

.debug {
  border: 1px solid yellow;
}

.debug2 {
  border: 1px solid violet;
}

.NAVBAR {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  padding: 18px 36px;
  position: relative;
  background-color: var(--variable-collection-white);
}

.NAVBAR .left {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  position: relative;
  margin: 0;
  order: 0;
}

.NAVBAR .navbar-brand-img {
  width: 323px;
  height: 45px;
}

.NAVBAR .navbar-toggler {
  border: 0;
  order: -1;
}

.NAVBAR .navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.NAVBAR .navbar-toggler-icon {
  width: 24px;
  height: 24px;
}

.NAVBAR .center {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
  position: relative;
  flex: 0 0 auto;
  order: 1;
}

.NAVBAR .navbar {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.NAVBAR .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.NAVBAR .right {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
  order: 2;
}

.NAVBAR .search-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  position: relative;
  background-color: var(--variable-collection-light);
  border-radius: 40px;
  border: 1px solid;
  border-color: var(--variable-collection-dark);
}

.NAVBAR #icon-search-l {
  display: none;
}

.NAVBAR .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--variable-collection-accent3);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.NAVBAR .icon-search,
.NAVBAR #icon-search-l,
.NAVBAR .icon-shopping-bag,
.NAVBAR .icon-user-profile {
  position: relative;
  width: 24px;
  height: 24px;
}

.FOOTER {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: relative;
}

.FOOTER .footer-upper {
  background-color: var(--variable-collection-gray-300);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 271px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 80px 0;
  position: absolute;
  top: 0;
  left: 0;
}

.FOOTER .img-transp-bg {
  position: absolute;
  width: 260px;
  height: 245px;
  top: 13px;
  left: 14px;
}

.FOOTER .outer-frame {
  display: flex;
  height: 111px;
  justify-content: space-between;
  align-items: flex-start;
  gap: auto;
  position: relative;
  align-self: stretch;
  width: 80%;
}

.FOOTER .inner-frame1 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.FOOTER .overlap-group-wrapper {
  position: relative;
  width: 325px;
  height: 45px;
}

.FOOTER .overlap-group {
  position: relative;
  width: 323px;
  height: 45px;
}

.FOOTER .yoursneakers {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
}

.FOOTER .rectangle {
  position: absolute;
  width: 33px;
  height: 32px;
  top: 6px;
  left: 5px;
}

.FOOTER .p {
  position: absolute;
  top: 16px;
  left: 30px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: -1.2px;
  line-height: normal;
}

.FOOTER .text-wrapper {
  font-family: "Inter-ExtraBold Italic", Helvetica;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -0.29px;
}

.FOOTER .span {
  font-family: "Inter-Italic", Helvetica;
  font-style: italic;
  font-size: 20px;
  letter-spacing: -0.2px;
}
/*  */
.FOOTER .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.FOOTER .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.FOOTER .inner-frame2 {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 111px;
  align-items: flex-start;
  gap: 1px;
  position: relative;
}

.FOOTER .footer-head {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.FOOTER .footer-sub {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.FOOTER .inner-frame3 {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 111px;
  align-items: flex-start;
  gap: 1px;
  position: relative;
}

.FOOTER .inner-frame4 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  gap: 5px;
  position: relative;
}

.FOOTER .frame-wrapper {
  position: relative;
  width: 90px;
  height: 17px;
}

.FOOTER .social-icons-frame {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.FOOTER .social-icons {
  position: relative;
  width: 20px;
  height: 20px;
}

.FOOTER .footer-lower {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 59px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  position: absolute;
  top: 271px;
  left: 0;
  background-color: var(--variable-collection-gray-400);
}

.FOOTER .outer-frame2 {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.FOOTER .inner-frame5 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.FOOTER .footer-lower-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-dark);
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* Mobile Styles */
@media (max-width: 425px) {
  body {
    background-color: lightblue;
  }
}

/* Tablet Styles */
@media (min-width: 426px) and (max-width: 768px) {
  body {
    background-color: lightgreen;
  }
  .NAVBAR .navbar-brand-img {
    width: 280px;
    height: 45px;
  }
  .NAVBAR .search-box {
    display: none;
  }
  .NAVBAR #icon-search-l {
    display: block;
  }
  .NAVBAR .left {
    order: -1;
  }
  .NAVBAR .right {
    width: fit-content;
    order: -1;
  }
  .NAVBAR .center {
    order: -2;
  }
  .FOOTER .footer-upper {
    width: 100%;
    padding: 40px 0;
  }
  .FOOTER .outer-frame {
    height: fit-content;
    flex-wrap: wrap;
    width: 90%;
  }
  .FOOTER .inner-frame1 {
    width: fit-content;
    height: 142px;
  }
  .FOOTER .inner-frame2 {
    width: 242px;
  }
  .FOOTER .inner-frame4 {
    width: 242px;
  }
  .FOOTER .outer-frame2 {
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 90%;
  }
}

/* Laptop Styles */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: lightyellow;
  }
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap !important;
    flex-flow: row nowrap !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto !important;
    flex-basis: auto !important;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none !important;
  }

  .NAVBAR .navbar-brand-img {
    width: 280px;
    height: 45px;
  }
  .NAVBAR .search-box {
    display: none;
  }
  .NAVBAR #icon-search-l {
    display: block;
  }
}

/* Desktop Styles */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: lightcoral;
  }
}
