@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
}

:root {
  --card-shadowx: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  --variable-collection-dark: var(--color-palette-dark);
  --variable-collection-white: var(--color-palette-white);
  --variable-collection-light: rgba(238, 238, 238, 1);
  --variable-collection-primary: rgba(247, 230, 0, 1);
  --variable-collection-primary2: rgba(247, 220, 0, 1);
  --variable-collection-secondary: rgba(215, 38, 56, 1);
  --variable-collection-info: rgba(128, 222, 234, 1);
  --variable-collection-accent1: rgba(255, 152, 0, 1);
  --variable-collection-accent2: rgba(156, 39, 176, 1);
  --variable-collection-accent3: rgba(69, 90, 100, 1);
  --variable-collection-success: rgba(71, 188, 0, 1);
  --variable-collection-warning: rgba(255, 200, 93, 1);
  --variable-collection-danger: rgba(253, 0, 91, 1);
  --variable-collection-gray-50: rgba(249, 250, 251, 1);
  --variable-collection-gray-100: rgba(243, 244, 246, 1);
  --variable-collection-gray-200: rgba(229, 231, 235, 1);
  --variable-collection-gray-300: rgba(209, 213, 219, 1);
  --variable-collection-gray-400: rgba(156, 163, 175, 1);
  --variable-collection-gray-500: rgba(107, 114, 128, 1);
  --variable-collection-gray-600: rgba(75, 85, 99, 1);
  --variable-collection-gray-700: rgba(55, 65, 81, 1);
  --variable-collection-gray-800: rgba(31, 41, 55, 1);
  --variable-collection-gray-900: rgba(17, 24, 39, 1);
  --color-palette-white: rgba(255, 255, 255, 1);
  --color-palette-dark: rgba(31, 31, 31, 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: var(--variable-collection-light);
}

.debug {
  border: 1px solid yellow;
}

.debug2 {
  border: 1px solid violet;
}

.NAVBAR {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  padding: 18px 36px;
  position: fixed;
  background-color: var(--variable-collection-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.NAVBAR .left {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  position: relative;
  margin: 0;
  order: 0;
}

.NAVBAR .navbar-brand-img,
.NAVBAR .navbar-brand-img-white {
  width: 323px;
  height: 45px;
}

.NAVBAR .navbar-toggler {
  border: 0;
  order: -1;
}

.NAVBAR .navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.NAVBAR .navbar-toggler-icon {
  width: 24px;
  height: 24px;
}

.navbar-before-scroll {
  opacity: 90%;
  background-color: var(--variable-collection-dark) !important;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-after-scroll {
  opacity: 100%;
  background-color: var(--variable-collection-white) !important;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-before-scroll .nav-link.active-nav{
  color: var(--variable-collection-primary) !important;
}

.navbar-after-scroll .nav-link.active-nav{
  color: var(--variable-collection-secondary) !important;
}

.navbar-before-scroll .navbar-brand-img {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  display: none;
}

.navbar-after-scroll .navbar-brand-img {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  display: block;
}

.navbar-before-scroll .navbar-brand-img-white {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  display: block;
}

.navbar-after-scroll .navbar-brand-img-white {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  display: none;
}

.navbar-before-scroll .icon-shopping-bag,
.navbar-before-scroll .icon-user-profile,
.navbar-before-scroll .search-btn {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  display: none;
}

.navbar-after-scroll .icon-shopping-bag,
.navbar-after-scroll .icon-user-profile,
.navbar-after-scroll .search-btn {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  display: block;
}

.navbar-before-scroll .icon-shopping-bag-white,
.navbar-before-scroll .icon-user-profile-white,
.navbar-before-scroll .search-btn-white {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  display: block;
}

.navbar-after-scroll .icon-shopping-bag-white,
.navbar-after-scroll .icon-user-profile-white,
.navbar-after-scroll .search-btn-white {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  display: none;
}

.navbar-before-scroll .nav-link {
  color: var(--variable-collection-white);
}

.navbar-before-scroll .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-before-scroll .nav-link:hover,
.navbar-before-scroll.navbar-toggler-icon:hover {
  color: var(--variable-collection-gray-500) !important;
}

.navbar-after-scroll .nav-link {
  color: var(--variable-collection-gray-400);
}

.navbar-after-scroll .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-after-scroll .nav-link:hover,
.navbar-after-scroll.navbar-toggler-icon:hover {
  color: var(--variable-collection-gray-700) !important;
}

.navbar-before-scroll.navbar-after-scroll {
  padding-top: 5px;
  padding-bottom: 5px;
}

.NAVBAR .center {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
  position: relative;
  flex: 0 0 auto;
  order: 1;
}

.NAVBAR .navbar {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.NAVBAR .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.NAVBAR .right {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
  order: 2;
}

.NAVBAR .search-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px 5px 8px;
  position: relative;
  background-color: var(--variable-collection-light);
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--variable-collection-dark);
}

.NAVBAR .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--variable-collection-light);
  background-clip: padding-box;
  border: none;
  border-radius: 0px;
  transition: none;
}
.NAVBAR .form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--variable-collection-light);
  border: none;
  box-shadow: none;
}

.NAVBAR .search-box-l {
  display: none;
}

.NAVBAR .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--variable-collection-accent3);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.NAVBAR .icon-search,
.NAVBAR #icon-search-l,
.NAVBAR .icon-shopping-bag,
.NAVBAR .icon-user-profile {
  position: relative;
  width: 24px;
  height: 24px;
}

.FOOTER {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: relative;
  padding: 0;
}

.FOOTER a:not(.social-link) {
  text-decoration: none;
  color: var(--variable-collection-gray-500);
}

.FOOTER a:not(.social-link):hover {
  cursor: pointer;
  color: var(--variable-collection-dark);
}

.FOOTER a:not(.social-link):after {
  content: "";
  position: absolute;
  background-color: var(--variable-collection-dark);
  height: 1px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.FOOTER a:not(.social-link):hover:after {
  width: 100%;
}

.FOOTER .social-link {
  opacity: 0.6;
  text-decoration: none;
}

.FOOTER .social-link:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: ease-in 0.5s;
}

.FOOTER .footer-upper {
  background-color: var(--variable-collection-gray-300);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  position: relative;
  top: 0;
  left: 0;
}

.FOOTER .img-transp-bg {
  position: absolute;
  width: 260px;
  height: 245px;
  top: 13px;
  left: 14px;
}

.FOOTER .outer-frame {
  display: flex;
  height: 111px;
  justify-content: space-between;
  align-items: flex-start;
  gap: auto;
  position: relative;
  align-self: stretch;
  width: 80%;
}

.FOOTER .inner-frame1 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.FOOTER .overlap-group-wrapper {
  position: relative;
  width: 325px;
  height: 45px;
}

.FOOTER .overlap-group {
  position: relative;
  width: 323px;
  height: 45px;
}

.FOOTER .yoursneakers {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
}

.FOOTER .rectangle {
  position: absolute;
  width: 33px;
  height: 32px;
  top: 6px;
  left: 5px;
}

.FOOTER .p {
  position: absolute;
  top: 16px;
  left: 30px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: -1.2px;
  line-height: normal;
}

.FOOTER .text-wrapper {
  font-family: "Inter-ExtraBold Italic", Helvetica;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -0.29px;
}

.FOOTER .span {
  font-family: "Inter-Italic", Helvetica;
  font-style: italic;
  font-size: 20px;
  letter-spacing: -0.2px;
}
/*  */
.FOOTER .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 0;
}

.FOOTER .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.FOOTER .inner-frame2 {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: fit-content;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.FOOTER .footer-head {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.FOOTER .footer-sub {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-gray-500);
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.FOOTER .inner-frame3 {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: fit-content;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.FOOTER .inner-frame4 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  gap: 5px;
  position: relative;
}

.FOOTER .frame-wrapper {
  position: relative;
  width: 90px;
  height: 17px;
}

.FOOTER .social-icons-frame {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.FOOTER .social-icons {
  position: relative;
  width: 20px;
  height: 20px;
}

.FOOTER .footer-lower {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  position: relative;
  left: 0;
  background-color: var(--variable-collection-gray-400);
}

.FOOTER .outer-frame2 {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.FOOTER .inner-frame5 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.FOOTER .footer-lower-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-dark);
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.FOOTER .unhide {
  display: none;
}

.FOOTER .unhide-a {
  display: none;
}

.FOOTER .hr-unhide {
  display: none;
}

.search-bar {
  display: none;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  z-index: 10;
  padding: 0px 5px 0px 2px;
  background-color: var(--variable-collection-light);
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--variable-collection-dark);
  align-items: center;
  justify-content: space-between;
}

.NAVBAR #search-icon-btn,
.NAVBAR #search-icon-btn-l {
  background: none; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  cursor: pointer; /* Change cursor to pointer */
}

.NAVBAR #search-icon-btn:focus,
.NAVBAR #search-icon-btn-l:focus {
  outline: none; /* Remove focus outline */
}

.NAVBAR .search-popup {
  font-size: 14px;
  padding: 4px 6px 4px 6px;
}

.NAVBAR .close-btn {
  background: none; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer */
  color: #000; /* Change color of the icon */
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Styles */
@media (max-width: 426.98px) {
  /* body {
    background-color: lightblue;
  } */
  .NAVBAR {
    gap: 10px;
    padding: 14px 22px;
  }
  .NAVBAR .navbar-brand-img,
  .NAVBAR .navbar-brand-img-white {
    width: 160px;
    height: 22px;
  }
  .NAVBAR .search-box {
    display: none;
  }
  .NAVBAR .search-box-l {
    display: block;
    height: 24px;
  }

  .navbar-after-scroll .search-box-l{
    display: block;
    height: 20px;
  }

  .NAVBAR .left {
    order: -1;
  }
  .NAVBAR .right {
    width: fit-content;
    order: -1;
  }
  .NAVBAR .center {
    order: -2;
  }
  .NAVBAR .text-wrapper-2 {
    font-size: 12px;
  }
  .NAVBAR .icon-search,
  .NAVBAR #icon-search-l,
  .NAVBAR .icon-shopping-bag,
  .NAVBAR .icon-user-profile {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .NAVBAR .close-btn {
    width: 20px;
    height: 20px;
  }
  .FOOTER .footer-upper {
    width: 100%;
    padding: 40px 0;
  }
  .FOOTER .img-transp-bg {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .FOOTER .outer-frame {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .FOOTER .inner-frame1 {
    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 10px;
  }
  .FOOTER .text-wrapper-2 {
    text-align: center;
    margin-bottom: 0;
  }
  .FOOTER .inner-frame2 {
    width: 242px;
  }
  .FOOTER .inner-frame4 {
    width: 242px;
  }
  .FOOTER .accordion-item {
    color: var(--variable-collection-dark);
    background: none;
    border: none;
  }
  .FOOTER .accordion-button {
    font-size: 12px;
    padding: 12px 0px;
    border-radius: none;
  }
  .FOOTER .accordion-body {
    font-size: 12px;
    padding: 8px 0px;
  }
  .FOOTER .accordion-button:focus {
    box-shadow: none;
  }
  .FOOTER .accordion-button:not(.collapsed) {
    color: var(--variable-collection-dark);
    background: none;
    border-radius: none;
  }
  .FOOTER
    .accordion-item:last-of-type
    > .accordion-header
    .accordion-button.collapsed {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .FOOTER .acc-transp {
    background: none;
    border-bottom: 1px solid var(--variable-collection-dark);
    border-left: none;
    border-right: none;
    border-radius: 0px;
  }
  .FOOTER .outer-frame2 {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
  }
  .FOOTER .inner-frame5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .FOOTER .hide {
    display: none;
  }
  .FOOTER .unhide {
    display: flex;
  }
  .FOOTER .unhide-a {
    display: block;
  }
  .FOOTER .width-a {
    width: 90%;
    padding: 0;
  }
  .FOOTER .hr-unhide {
    display: block;
    background-color: var(--variable-collection-gray-400);
    height: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-style: inset;
    border-bottom: 1px solid var(--variable-collection-dark);
    border-left: 1px;
    border-right: 1px;
  }
}

/* Tablet Styles */
@media (min-width: 426px) and (max-width: 768.98px) {
  /* body {
    background-color: lightgreen;
  } */
  .NAVBAR {
    padding: 14px 36px;
  }
  .NAVBAR .navbar-brand-img,
  .NAVBAR .navbar-brand-img-white {
    width: 280px;
    height: 45px;
  }
  .NAVBAR .search-box {
    display: none;
  }
  .NAVBAR .search-box-l {
    display: block;
    height: 24px;
  }
  .NAVBAR .left {
    order: -1;
  }
  .NAVBAR .right {
    width: fit-content;
    order: -1;
  }
  .NAVBAR .center {
    order: -2;
  }
  .FOOTER .footer-upper {
    width: 100%;
    padding: 40px 0;
  }
  .FOOTER .outer-frame {
    height: fit-content;
    flex-wrap: wrap;
    width: 90%;
  }
  .FOOTER .img-transp-bg {
    width: 300px;
    height: 300px;
  }
  .FOOTER .inner-frame1 {
    width: fit-content;
    height: 160px;
  }
  .FOOTER .inner-frame2 {
    width: 242px;
  }
  .FOOTER .inner-frame4 {
    width: 242px;
  }
  .FOOTER .outer-frame2 {
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 90%;
  }
}

/* Laptop Styles */
@media (min-width: 769px) and (max-width: 1024.98px) {
  /* body {
    background-color: lightyellow;
  } */
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap !important;
    flex-flow: row nowrap !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto !important;
    flex-basis: auto !important;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none !important;
  }
  .NAVBAR .navbar-brand-img,
  .NAVBAR .navbar-brand-img-white {
    width: 280px;
    height: 45px;
  }
  .NAVBAR .text-wrapper-2 {
    font-size: 14px;
  }
  .NAVBAR .right {
    gap: 10px;
  }
}

/* Desktop Styles */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* body {
    background-color: lightcoral;
  } */
}
