.jumbotron {
  color: white;
  background-image: url("/YSC/folder-products/JB1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 30px 0;
}

.header-caption {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 0;
}

.header-caption .text-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.header-caption .div-wrapper {
  display: flex;
  height: 75px;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-primary);
}

.header-caption .tagline {
  position: relative;
  width: fit-content;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.header-caption .tagline2 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame-newarrivals,
.frame-ourproducts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 64px;
}
.frame-newarrivals .title-newarrivals,
.frame-ourproducts .title-ourproducts {
  position: relative;
  flex: 0 0 auto;
}
.frame-newarrivals .div-viewall,
.frame-ourproducts .div-viewall {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  cursor: pointer;
}
.frame-newarrivals .clickable-view-all,
.frame-ourproducts .clickable-view-all {
  position: relative;
  width: 90px;
  height: 27px;
  margin-top: -1px;
  font-family: "Nunito Sans-Bold", Helvetica;
  font-weight: 700;
  color: #544c4cf5;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.frame-newarrivals .element-outlined,
.frame-ourproducts .element-outlined {
  position: relative;
  width: 13px;
  height: 13px;
}

.new-arrival-cards,
.our-products-cards {
  display: flex;
  flex-wrap: wrap;
  width: 1152px;
  padding: 32px 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.box {
  position: relative; /* Establish a positioning context */
  width: 100%; /* Ensure it takes full width */
  height: auto; /* Adjust height as needed */
}
.yellow-rectangle-home {
  position: absolute; /* Position it absolutely */
  width: 100%; /* Make it cover the entire area */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Send it behind other elements */
  top: 50%; /* Move down 50% of the parent's height */
  left: 50%; /* Move right 50% of the parent's width */
  transform: translate(-50%, -50%);
}

.category-section {
  padding: 32px 72px;
  background-color: var(--variable-collection-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.category-frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 32px;
}

.category-frame .cat-men {
  width: 410px;
  height: 531px;
  justify-content: flex-end;
  gap: 10px;
  padding: 29px 27px;
  border: 3px solid;
  border-color: var(--variable-collection-dark);
  background-image: url(/YSC/folder-products/category-pics/cat-men.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.category-frame .cat-body {
  position: relative;
  width: 282px;
  height: 89px;
  z-index: 10;
}

.category-frame .div {
  display: flex;
  flex-direction: column;
  width: 282px;
  align-items: flex-start;
  gap: 6px;
  position: relative;
}

.category-frame .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Nunito Sans-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.category-frame .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 184px;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  cursor: pointer;
  background-color: var(--variable-collection-primary);
  transition: background-color 0.3s ease;
}

.category-frame .label {
  position: relative;
  width: fit-content;
  margin-top: -4px;
  margin-bottom: -2px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-dark);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.category-frame .cat-women {
  width: 410px;
  height: 531px;
  justify-content: flex-end;
  gap: 10px;
  padding: 29px 27px;
  border: 3px solid;
  border-color: var(--variable-collection-dark);
  background-image: url(/YSC/folder-products/category-pics/cat-women.png);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.category-frame .cat-kids {
  width: 410px;
  height: 531px;
  justify-content: flex-end;
  gap: 10px;
  padding: 29px 27px;
  border: 3px solid;
  border-color: var(--variable-collection-dark);
  background-image: url(/YSC/folder-products/category-pics/cat-kids.jfif);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.category-frame .cat-men:hover,
.category-frame .cat-women:hover,
.category-frame .cat-kids:hover {
  transform: scale(1.03);
}

.cat-men .button:hover,
.cat-women .button:hover,
.cat-kids .button:hover {
  background-color: rgba(255, 255, 255, 0.6); /* Lighten background on hover */
}

.cat-men::after,
.cat-women::after,
.cat-kids::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* Gradient from transparent to dark */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for the overlay */
}

.cat-men:hover::after,
.cat-women:hover::after,
.cat-kids:hover::after {
  opacity: 1; /* Show the gradient overlay on hover */
}

.feature {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 64px 36px;
  position: relative;
}

.feature .frame {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.feature .group {
  position: relative;
  width: 70px;
  height: 70px;
  margin-top: -3px;
}

.feature .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.feature .fs-body {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #242424;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  /* line-height: 36px; */
}

.feature .text-wrapper {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.feature .span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  /* line-height: 24px; */
}

.feature .fs-text {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--variable-collection-gray-600);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  margin-bottom: 0;
  white-space: normal;
}

/* Mobile Styles */
@media (max-width: 425.98px) {
  /* body {
    background-color: lightblue;
  } */
  .header-caption .text-wrapper {
    font-size: 12px;
  }
  .header-caption .div-wrapper {
    height: 32px;
  }

  .header-caption .tagline {
    font-size: 24px;
  }
  .header-caption .tagline2 {
    font-size: 14px;
  }
  .feature {
    flex-direction: column;
    padding: 32px 0;
    gap: 40px;
  }

  .feature .frame {
    width: 90%;
    max-width: 340px;
  }

  .feature .fs-body {
    font-size: 20px;
    line-height: 30px;
  }

  .feature .span {
    font-size: 14px;
  }

  .feature .fs-text {
    font-size: 12px;
  }
  .new-arrival-cards,
  .our-products-cards {
    flex-direction: column;
    width: 90%;
  }
  .yellow-rectangle-home {
    display: none;
  }
  .category-frame {
    flex-direction: column;
  }
  .frame-newarrivals .title-newarrivals,
  .frame-ourproducts,
  .category-title,
  .title-ourproducts {
    width: 100%;
    height: 35px;
  }
  .category-section {
    padding: 36px 64px;
  }

  .frame-ourproducts {
    flex-direction: column;
    gap: 17.5px;
    margin-bottom: 50px;
  }
  .frame-newarrivals {
    flex-direction: column;
    gap: 17.5px;
    margin-bottom: 8px;
    margin-top: 48px;
  }
}

/* Tablet Styles */
@media (min-width: 426px) and (max-width: 768px) {
<<<<<<< Updated upstream
  /* body {
    background-color: lightgreen;
  } */
=======
>>>>>>> Stashed changes
  .header-caption .text-wrapper {
    font-size: 16px;
  }
  .header-caption .div-wrapper {
    height: 48px;
  }

  .header-caption .tagline {
    font-size: 32px;
  }
  .header-caption .tagline2 {
    font-size: 20px;
  }
  .feature {
    padding: 24px 0;
    gap: 10px;
  }

  .feature .frame {
    width: 220px;
  }

  .feature .group {
    width: 40px;
    height: 40px;
  }

  .feature .fs-body {
    font-size: 18px;
    line-height: 28px;
  }

  .feature .span {
    font-size: 12px;
  }

  .feature .fs-text {
    font-size: 10px;
  }
  .new-arrival-cards,
  .our-products-cards {
    gap: 25px;
    width: 80%;
  }
  .yellow-rectangle-home {
    display: none;
  }

  .category-frame .cat-women,
  .category-frame .cat-men,
  .category-frame .cat-kids {
    width: 210px;
    height: 331px;
    padding: 25px 10px;
  }
  .category-frame .cat-men {
    padding-bottom: 30px;
  }
  .category-frame .text-wrapper {
    font-size: 24px;
  }
  .category-frame .div {
    width: 50px;
  }
  .category-frame .cat-body {
    width: 100%;
    height: 55px;
  }
  .category-title,
  .title-ourproducts,
  .title-newarrivals {
    width: 250px;
    height: 25px;
  }
  .frame-newarrivals,
  .frame-ourproducts {
    margin-top: 45px;
  }
}

/* Laptop Styles */
@media (min-width: 769px) and (max-width: 1024px) {
<<<<<<< Updated upstream
  /* body {
    background-color: lightyellow;
  } */

=======
>>>>>>> Stashed changes
  .header-caption .text-wrapper {
    font-size: 20px;
  }
  .header-caption .div-wrapper {
    height: 62px;
  }

  .header-caption .tagline {
    font-size: 40px;
  }
  .header-caption .tagline2 {
    font-size: 24px;
  }

  .feature .frame {
    width: 300px;
  }

  .feature .group {
    width: 50px;
    height: 50px;
  }

  .feature .fs-body {
    font-size: 20px;
    line-height: 30px;
  }

  .feature .span {
    font-size: 14px;
  }

  .feature .fs-text {
    font-size: 12px;
  }
  .frame-newarrivals {
    width: auto;
  }
  .category-frame {
    transform: scale(0.75);
  }
  .new-arrival-cards {
    width: auto;
    gap: 0;
    padding: 0;
  }
  .card-desktop {
    transform: scale(0.8);
  }
  .frame-newarrivals,
  .frame-ourproducts {
    width: auto;
    margin: 45px;
  }
  .new-arrival-cards,
  .our-products-cards {
    width: auto;
    gap: 0;
  }
  .our-products-cards {
    gap: 0;
    margin: -20px;
    padding-top: 0;
  }
  .category-section {
    gap: 0px;
    padding: 48px 72px;
  }
  .frame-newarrivals,
  .frame-ourproducts {
    margin: 45px 45px 20px 45px;
  }
  .feature {
    padding: 32px 36px;
  }
}

/* Desktop Styles */
@media (min-width: 1025px) and (max-width: 1440px) {
<<<<<<< Updated upstream
  /* body {
    background-color: lightcoral;
  } */
=======
>>>>>>> Stashed changes
}
