.filter-option-radio {
  margin: 4px 2px;
  border-radius: 0px;
}

.filter-option-radio:hover {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

.main {
  margin: 128px 5%;
  display: flex;
  justify-content: space-between;
  font-family: "Inter-Regular", Helvetica;
}
.right-side {
  width: 1005px;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.frame .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 359px;
  height: 45px;
  justify-content: center;
  padding: 4px 5px;
  background-color: var(--variable-collection-white);
  align-items: center;
  gap: 10px;
  position: relative;
}

.frame .group {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  gap: 10px;
  position: relative;
}

.frame .div-wrapper {
  display: inline-flex;
  height: 37px;
  justify-content: center;
  padding: 6px 15px;
  flex: 0 0 auto;
  background-color: var(--variable-collection-white);
  align-items: center;
  gap: 10px;
  position: relative;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for background and transform */
}

.frame .div-wrapper:hover {
  background-color: var(--variable-collection-gray-100);
  transform: translateY(-3px); /* Slide up effect on hover */
}

.frame .div-wrapper:focus {
  background-color: var(--variable-collection-primary);
  transform: translateY(-3px); /* Slide up effect on focus */
}

.frame .div-wrapper.active {
  background-color: var(--variable-collection-primary);
  color: var(--variable-collection-dark);
}

.frame .clickable-view-all {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-dark);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .fields {
  display: flex;
  width: 220px;
  height: 45px;
  align-items: center;
  gap: 10px;
  padding: 16px 20px;
  position: relative;
  background-color: var(--variable-collection-primary);
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  visibility: hidden;
  position: absolute;
  right: 0;
  background-color: var(--variable-collection-white);
  min-width: 220px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: var(--variable-collection-dark);
  padding: 12px 16px;
  display: block;
  font-family: "Inter-Regular", Helvetica;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: var(--variable-collection-gray-200);
  cursor: pointer;
  transform: translateY(-3px);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.sort-text {
  position: relative;
  line-height: 24px;
  font-family: "Inter-Regular", Helvetica;
}
.atom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.outlined-directions-chevro {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.fields:hover {
  background-color: var(--variable-collection-primary2);
}

.left-side {
  width: 272px;
}

.refineresults {
  align-self: stretch;
  position: relative;
  width: 100%;
}
.showing-number-text {
  align-self: stretch;
  position: relative;
  font-size: 14px;
}
.refineresults-parent {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: "Inter-Regular", Helvetica;
}

.bold {
  font-weight: 800;
}

.btn-check {
  margin-right: 20px;
  border-radius: 0px;
}

.acc-transp {
  border: 1px solid var(--variable-collection-dark);
  border-bottom: none;
}

.acc-transp-last {
  border: 1px solid var(--variable-collection-dark);
}

.accordion-item {
  background: none;
}

.accordion-body {
  border: 1px solid var(--variable-collection-dark);
  border-bottom: none;
}

.accordion-body-last {
  border: 1px solid var(--variable-collection-dark);
  border-top: none;
}

.accordion-button {
  background: none;
  color: var(--variable-collection-dark);
}

.accordion-button::after {
  background-image: url(/YSC/folder-icons/plus-accordion.svg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/YSC/folder-icons/collapse-accordion.svg);
  transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
  outline: none;
  background: none;
  color: var(--variable-collection-dark);
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
  background: none;
}

.square-div {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 10px;
  border-radius: 0;
  border-style: inset;
  margin: 4px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  background-color: transparent;
}

/* Define colors for each square */
.square-div-red {
  border-color: red;
}
.square-div-orange {
  border-color: orange;
}
.square-div-yellow {
  border-color: yellow;
}
.square-div-green {
  border-color: green;
}
.square-div-blue {
  border-color: blue;
}
.square-div-indigo {
  border-color: indigo;
}
.square-div-violet {
  border-color: violet;
}
.square-div-black {
  border-color: black;
}
.square-div-white {
  border-color: white;
}
.square-div-gray {
  border-color: gray;
}

/* Hover and focus styles */
.square-div-red:hover,
.square-div-red:focus,
.square-div-orange:hover,
.square-div-orange:focus,
.square-div-yellow:hover,
.square-div-yellow:focus,
.square-div-green:hover,
.square-div-green:focus,
.square-div-blue:hover,
.square-div-blue:focus,
.square-div-indigo:hover,
.square-div-indigo:focus,
.square-div-violet:hover,
.square-div-violet:focus,
.square-div-black:hover,
.square-div-black:focus,
.square-div-white:hover,
.square-div-white:focus,
.square-div-gray:hover,
.square-div-gray:focus {
  background-color: currentColor; /* Change background color on hover and focus */
}

/* Checked styles */
input[type="checkbox"]:checked + .square-div-red {
  background-color: red;
}
input[type="checkbox"]:checked + .square-div-orange {
  background-color: orange;
}
input[type="checkbox"]:checked + .square-div-yellow {
  background-color: yellow;
}
input[type="checkbox"]:checked + .square-div-green {
  background-color: green;
}
input[type="checkbox"]:checked + .square-div-blue {
  background-color: blue;
}
input[type="checkbox"]:checked + .square-div-indigo {
  background-color: indigo;
}
input[type="checkbox"]:checked + .square-div-violet {
  background-color: violet;
}
input[type="checkbox"]:checked + .square-div-black {
  background-color: black;
}
input[type="checkbox"]:checked + .square-div-white {
  background-color: white;
}
input[type="checkbox"]:checked + .square-div-gray {
  background-color: gray;
}

/* Ensure background is transparent when unchecked */
input[type="checkbox"]:not(:checked) + .square-div-red,
input[type="checkbox"]:not(:checked) + .square-div-orange,
input[type="checkbox"]:not(:checked) + .square-div-yellow,
input[type="checkbox"]:not(:checked) + .square-div-green,
input[type="checkbox"]:not(:checked) + .square-div-blue,
input[type="checkbox"]:not(:checked) + .square-div-indigo,
input[type="checkbox"]:not(:checked) + .square-div-violet,
input[type="checkbox"]:not(:checked) + .square-div-black,
input[type="checkbox"]:not(:checked) + .square-div-white,
input[type="checkbox"]:not(:checked) + .square-div-gray {
  background-color: transparent; /* Background color when unchecked */
}

.items-frame {
  display: flex;
  margin-top: 15px;
  gap: 14px;
  flex-wrap: wrap;
}

/* CARDS CSS */

.card-desktop {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 370px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  position: relative;
  background-color: var(--variable-collection-white);
  box-shadow: var(--card-shadowx);
}

.card-desktop .top-group {
  position: relative;
  width: 200px;
  height: 200px;
}

.card-desktop .preview-frame {
  position: relative;
  height: 200px;
}

.card-desktop .sale-frame {
  display: flex;
  width: 70px;
  height: 19px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-secondary);
  transition: transform 0.3s ease;
}

.card-desktop .sale-text {
  position: relative;
  width: fit-content;
  margin: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-style: italic;
  color: var(--variable-collection-white);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1;
}

.card-desktop .shoe-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
}

.card-desktop .shoe-img:hover {
  transform: translateY(-20px);
}

.picture-frame:hover .sale-frame {
  transform: scale(1.5);
}

.card-desktop .ellipse {
  position: absolute;
  width: 181px;
  height: 57px;
  top: 120px;
  left: 11px;
  background-color: var(--variable-collection-gray-500);
  border-radius: 90.59px/28.65px;
  transform: rotate(-4.75deg);
  filter: blur(10px);
  opacity: 0.27;
}

.card-desktop .bottom-group {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.card-desktop .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  height: 21.59px;
  margin-top: -1px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #544d4d;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.card-desktop .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.card-desktop .frame-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.card-desktop .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.card-desktop .element-outlined-action {
  position: relative;
  width: 24px;
  height: 24px;
}

.card-desktop .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.card-desktop .price-frame {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.card-desktop .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--variable-collection-secondary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.card-desktop .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.card-desktop #original-price-st {
  text-decoration: line-through;
}
/*Phone styles*/
@media (max-width: 425.98px) {
  body {
    background-color: var(--variable-collection-light);
  }
  .main {
    margin: 80px 5%;
  }
  .frame .frame-wrapper {
    width: auto;
  }
  .frame .div-wrapper {
    padding: 0 7.5px;
  }
  .frame {
    flex-direction: column;
    padding: 20px 0 20px 0;
  }
  .frame .fields {
    width: 280px;
    margin: 10px;
  }
  .main {
    align-items: center;
    flex-direction: column;
  }
  .right-side {
    width: auto;
  }
  .items-frame {
    justify-content: center;
  }
  .card-desktop {
    width: 280px;
  }
}

/* Tablet Styles */
@media (min-width: 426px) and (max-width: 768.98px) {
  .main {
    margin: 100px 5%;
  }
  .items-frame {
    justify-content: center;
  }
  .frame .frame-wrapper {
    width: 300px;
  }
  .frame .div-wrapper {
    padding: 6px 10px;
  }
  .refineresults-parent {
    padding-right: 7.5px;
  }
}

/* Laptop Styles */
@media (min-width: 769px) and (max-width: 1024.98px) {
  .frame {
    width: 73vw;
    margin-right: 10px;
  }
  .right-side {
    margin-left: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1192.98px) {
}

/* Desktop Styles */
@media (min-width: 1025px) and (max-width: 1440px) {
}
