.main {
  margin: 64px 5%;
  display: flex;
  justify-content: space-between;
}
.right-side {
  width: 1005px;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.frame .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 359px;
  height: 45px;
  justify-content: center;
  padding: 4px 5px;
  background-color: var(--variable-collection-white);
  align-items: center;
  gap: 10px;
  position: relative;
}

.frame .div {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  gap: 10px;
  position: relative;
}

.frame .div-wrapper {
  display: inline-flex;
  height: 37px;
  justify-content: center;
  padding: 6px 15px;
  flex: 0 0 auto;
  background-color: var(--variable-collection-white);
  align-items: center;
  gap: 10px;
  position: relative;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for background and transform */
}

.frame .div-wrapper:hover {
  background-color: var(--variable-collection-gray-100);
  transform: translateY(-3px); /* Slide up effect on hover */
}

.frame .div-wrapper:focus {
  background-color: var(--variable-collection-primary);
  transform: translateY(-3px); /* Slide up effect on focus */
}

.frame .div-wrapper.active {
  background-color: var(--variable-collection-primary);
  color: white;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-dark);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .fields {
  display: flex;
  width: 220px;
  height: 45px;
  align-items: center;
  gap: 10px;
  padding: 16px 20px;
  position: relative;
  background-color: var(--variable-collection-primary);
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  visibility: hidden;
  position: absolute;
  right: 0;
  background-color: var(--variable-collection-white);
  min-width: 220px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: var(--variable-collection-dark);
  padding: 12px 16px;
  display: block;
  font-family: "Inter-Regular", Helvetica;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: var(--variable-collection-gray-200);
  cursor: pointer;
  transform: translateY(-3px);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.sort-text {
  position: relative;
  line-height: 24px;
  font-family: "Inter-Regular", Helvetica;
}
.atom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.outlined-directions-chevro {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.fields:hover {
  background-color: var(--variable-collection-primary2);
}

.left-side {
  width: 272px;
}

.refineresults {
  align-self: stretch;
  position: relative;
  width: 100%;
}
.showing-number-text {
  align-self: stretch;
  position: relative;
  font-size: 14px;
}
.refineresults-parent {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: "Inter-Regular", Helvetica;
}
