.jumbotron {
  width: 1440px;
  height: 750px;
}

.jumbotron img {
  position: relative;
  width: 1440px;
  height: 750px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header-caption {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  gap: 6px;
  position: relative;
  padding: 0;
}

.header-caption p {
  margin-bottom: 0;
}

.header-caption .ABOUTUS {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.header-caption .text-wrapper {
  font-family: "Inter-ExtraBold Italic", Helvetica;
  font-weight: 800;
  font-style: italic;
}

.header-caption .yoursneakers {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.header-owner {
  display: flex;
  width: 100%;
  height: 474px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-owner img {
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header-owner .img-owner-1 {
  position: relative;
  width: 398px;
  height: 474px;
  object-fit: cover;
}

.header-owner .img-owner-2 {
  position: relative;
  width: 355px;
  height: 474px;
  object-fit: cover;
}

.rectangle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 124px;
  background-color: var(--variable-collection-primary);
  z-index: -1;
}

.Vision-Mission-container {
    width: 100%;
    height: auto; 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 64px;
    padding-bottom: 64px;
    }

.Vision-Mission-container .Vission-Mission-bold{
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #1f1f1f;
    font-size: 20px;
    text-align: center;
}

.Vision-Mission-container .Vission-Mission-bold {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #1f1f1f;
  font-size: 20px;
  text-align: center;
}

.Vision-Mission-container .Vission-Mission-normal {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #1f1f1f;
  font-size: 16px;
  text-align: center;
}

.text-bold {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
}

/* ADDED PRODUCTS LIST */
  
.product-section{
  padding-left: 10%;
  padding-right: 10%;
}

  #product-section-title {
    margin: 30px 0 60px;
  }
  
  #product-section-title::after {
    content: "";
    width: 100%;
    position: absolute;
    margin: 0 auto;
    height: 5px;
    border-radius: 1px;
    background: var(--bs-accent);
    left: 0;
    right: 0;
    bottom: -20px;
  }

  .col-sm-3 {
    padding: 0;
  }
  

  
  .product-section-carousel .item {
    color: var(--bs-primary);
    min-height: 325px;
    text-align: center;
    overflow: hidden;
  }
  
  .product-section-carousel .card-wrapper {
    background: var(--bs-light);
    text-align: center;
    position: relative;
    height: 360px;
  }
  
  .product-section-carousel .item .img-box {
    height: 360px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
/*images sizing: help please*/

  .product-section-carousel .item img {
    max-width: 100%;
    height: 360px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: opacity 0.3s ease;
  }
  
  .img-box img:hover {
    opacity: 0; /* Hide the first image on hover */
  }
  
  .img-box:hover img.first-img {
    opacity: 0; /* Hide the first image */
  }
  
  .img-box:hover img.second-img {
    opacity: 1; /* Show the second image */
  }
  
  /* #product-section-carousel .item h5 {
      font-size: 18px;
  } */
  
  .product-section-carousel .item h5,
  .product-section-carousel .item h6,
  .product-section-carousel .item ul {
    margin-bottom: 5px;
  }
  
  .product-section-carousel .card-content .btn {
    color: var(--bs-primary);
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid var(--bs-primary);
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
  }
  
  .product-section-carousel .card-content .btn:hover,
  .product-section-carousel .card-content .btn:focus {
    color: #fff;
    background: var(--bs-primary);
    box-shadow: none;
  }
  .product-section-carousel .card-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .product-section-carousel .item-price {
    font-size: 14px;
    padding: 2px 0;
  }
  .product-section-carousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    height: 100%;
    width: 40px;
    background-color: var(--variable-collection-gray-500);
    opacity: 0.7;
    transition: opacity 0.3s;
    z-index: 10;
  }
  
  .carousel-control-prev:hover{
    opacity: 0.4;
  }
  .carousel-control-next:hover {
    opacity: 0.4;
  }
  
  .carousel-control-prev i,
  .carousel-control-next i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    display: inline-block;
    z-index: 12;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
  }
  
  .carousel-control-prev i {
    margin-left: -2px;
  }
  
  .carousel-control-next i {
    margin-right: -4px;
  }
  
  .carousel-indicators {
    bottom: -60px;
  }
  
  .carousel-indicators .featured-indicator,
  .carousel-indicators .featured-indicator .active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
    background-color: black;
  }
  
  .carousel-indicators .featured-indicator {
    background: rgba(0, 0, 0, 0.2);
  }
  
  .carousel-indicators .featured-indicator.active {
    background: rgba(0, 0, 0, 0.6);
  }
  
  .product-section-carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: var(--bs-accent);
  }
  
  .product-section-carousel .wish-icon .fa-heart {
    color: var(--bs-accent);
  }
  
  .star-rating li {
    padding: 0;
  }
  
  .star-rating i {
    font-size: 14px;
    color: var(--bs-secondary);
  }
